<div class="container">
    <div class="row">
        <div class="fullWidth">
            <h4 class="text-center">Contact Card List</h4>
            <div class="form-group text-center">
                <button type="button" class="btn btn-primary mr-3" (click)="onFetch()">Fetch</button>
                <button type="button" class="btn btn-danger mr-3" (click)="onClear()">Clear</button>
            </div>
            <ng-container *ngIf="obj; else elseTemplate">

                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 col-card my-3" *ngFor="let cardItem of obj">
                    <app-contact-card [cardItem]="cardItem"></app-contact-card>
                </div>
            </ng-container>
            <ng-template #elseTemplate>
                <div>{{err}}</div>
            </ng-template>
        </div>
    </div>
</div>